body{
    margin-left: 20%;
    margin-right: 20%;
    background-color: blanchedalmond;
}
.navbar-menu{
    display: flex;
    justify-content: space-between;
    background-color: beige;
    list-style: none;
}